services:
  yraa:
    build: .
    container_name: yraa
    restart: unless-stopped
    ports:
      - "8822:8000"
    volumes:
      - ./data:/app/data
    environment:
      - YRAA_DB_PATH=/app/data/yraa.db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.yraa.rule=Host(`yraa.davecheng.com`)"
      - "traefik.http.routers.yraa.entrypoints=websecure"
      - "traefik.http.routers.yraa.tls.certresolver=myresolver"

  yraa-dev:
    build: .
    container_name: yraa-dev
    restart: unless-stopped
    ports:
      - "8823:8000"
    volumes:
      - ./data:/app/data
    environment:
      - YRAA_DB_PATH=/app/data/yraa-dev.db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.yraa-dev.rule=Host(`dev.yraa.davecheng.com`)"
      - "traefik.http.routers.yraa-dev.entrypoints=websecure"
      - "traefik.http.routers.yraa-dev.tls.certresolver=myresolver"
