services:
  yraa:
    build: .
    container_name: yraa
    restart: unless-stopped
    ports:
      - "8822:8000"
    volumes:
      - ./data:/app/data
    environment:
      - YRAA_DB_PATH=/app/data/yraa.db
